.place__title {
  grid-column: 1/2;
  grid-row: 1/2;
  max-width: 460px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 868px) {
  .place__title {
    font-size: 52px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    max-width: 330px;
    font-size: 42px;
  }
}

@media screen and (max-width: 760px) {
  .place__title {
    /* max-width: 460px; */
    grid-column: 1/1;
    grid-row: 1/2;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    width: 288px;
    margin-left: 16px;
    font-size: 32px;
    line-height: 1.09;
  }
}
