.place__website {
  grid-column: 2/2;
  grid-row: 1/2;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-end; */
  align-self: end;
  list-style-type: none;
  padding: 0;
}

@media screen and (max-width: 320px) {
  .place__website {
    width: 288px;
    margin: 0 auto;
  }
}
