.place__title {
  max-width: 460px;
  font-size: 72px;
  line-height: 1.06;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 43px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    width: 288px;
    margin: 0 auto;
    font-size: 32px;
    line-height: 1.09;
  }
}
