.lead__title {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  max-width: 720px;
  font-size: 96px;
  line-height: 1.04;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .lead__title {
    width: 90%;
    font-size: 82px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 650px) {
  .lead__title {
    width: 90%;
    font-size: 60px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 470px) {
  .lead__title {
    width: 90%;
    font-size: 45px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 354px) {
  .lead__title {
    width: 90%;
    font-size: 40px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    width: 90%;
    font-size: 40px;
    line-height: 1.1;
  }
}
