.lead__subtitle {
  max-width: 640px;
  margin: 32px auto 64px;
  padding: 0;
  text-align: center;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin: 32px auto 56px;
  }
}

@media screen and (max-width: 760px) {
  .lead__subtitle {
    max-width: 428px;
    font-size: 26px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 560px) {
  .lead__subtitle {
    max-width: 428px;
    margin: 16px auto 40px;
    font-size: 20px;
  }
}

@media screen and (max-width: 354px) {
  .lead__subtitle {
    max-width: 330px;
    font-size: 16px;
    line-height: 1.25;
  }
}
