.cover {
  max-width: 1184px;
  margin: 92px auto 92px;
}

@media screen and (max-width: 1184px) {
  .cover {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 90px 0 88px;
  }
}

@media screen and (max-width: 560px) {
  .cover {
    margin: 78px 0 76px;
  }
}

@media screen and (max-width: 480px) {
  .cover {
    margin: 66px 0 64px;
  }
}
