.place__link {
  font-size: 18px;
  line-height: 1.2;
  text-decoration: underline;
  color: white;
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0.6s;
}

.place__link:hover {
  opacity: 0.7;
}
