.cover__background {
  display: block;
  text-decoration: none;
  background-image: url("../../../images/cover-trains.jpg");
  background-size: cover;
  background-position: center;
  max-width: 1184px;
  height: 740px;
  position: relative;
}

.cover__background::before {
  background-color: #2a2c2f;
  opacity: 0.3;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.cover__background:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1184px) {
  .cover__background {
    max-width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .cover__background {
    height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__background {
    height: 480px;
  }
}

@media screen and (max-width: 560px) {
  .cover__background {
    height: 350px;
  }
}

@media screen and (max-width: 320px) {
  .cover__background {
    height: 200px;
  }
}
