.footer {
  display: flex;
  justify-content: space-between;
  max-width: 92.5%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 64px 16px 0;
  }
}

@media screen and (max-width: 492px) {
  .footer {
    max-width: 95.5%;
    margin: 64px 16px 0;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    margin: 64px 118px 0 16px;
  }
}
